<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean id="product1" class="com.abc.springcore.bean.Product">	
		<constructor-arg index="0" value="10"/>
		<constructor-arg index="1" value="SamsungF55"/>
		<constructor-arg index="2" value="45000"/>
	</bean>		
	
	<bean id="product2" class="com.abc.springcore.bean.Product">	
		<constructor-arg name="productId" value="20"/>
		<constructor-arg name="productName" value="IPhoneX"/>
		<constructor-arg name ="productPrice" value="85000"/>
	</bean>		
	
</beans>	
		
